In [1]:
from pyspark.conf import SparkConf
from pyspark.context import SparkContext
from pyspark.sql import HiveContext

In [2]:
# CONTAINER ID        IMAGE                             COMMAND                  CREATED             STATUS                     PORTS                                                      NAMES
# 97745cfb4450        docker.io/cloudera/quickstart     "/usr/bin/docker-q..."   10 minutes ago      Up About a minute          0.0.0.0:32778->7180/tcp, 0.0.0.0:32777->8989/tcp           hadoopondocker
# hdfs dfs -ls /user/mydata
# -rw-r--r--   1 root supergroup       8767 2019-07-02 11:46 /user/mydata/baseball.csv
# "hdfs://172.19.0.4/user/mydata/baseball.csv"

In [3]:
sc= SparkContext('local','example')
hc = HiveContext(sc)
tf1 = sc.textFile("hdfs://172.19.0.4/user/mydata/baseball.csv")
print(tf1.first())

id,player,year,stint,team,lg,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp

In [10]:
print(tf1.count())

101

In [14]:
#Spark select top values in RDD
print(tf1.top(2, key=lambda x: x[2]))

['88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,0,1,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0', '88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0']